<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index.css"/>
    <title>Document</title>
</head>
<body>
    
    <header>
        <img class="title_image" src="/public/assets/images/logo.jpg" alt="Site Logo" width="50%">
        <h1 class="title_text">So, you decided to have a baby during the zombie apocalypse?  Well, might as well make it a cute one.</h1>
    </header>

    <div id="offspring">
        <form class="flex-container" action="/offpsrings/" method="post">
            <label for="name">Baby's Name:</label>
            <input type="text" name="name" required/>

            <label for="eye_color">Baby's Eye Color:</label>
            <select name="eye_color">
                <option value="Amber">Amber</option>
                <option value="Blue">Blue</option>
                <option value="Brown">Brown</option>
                <option value="Gray">Gray</option>
                <option value="Green">Green</option>
                <option value="Hazel">Hazel</option>
            </select>

            <label for="intelligence">Baby's Intelligence:</label>
            <select name="intelligence">
                <option value="Dullard">Dullard</option>
                <option value="Within Typical Limits">Within Typical Limits</option>
                <option value="Savant">Savant</option>
            </select>

            <label for="personality_type">Baby's Personality:</label>
            <select name="personality_type">
                <option value="Bruiser">Bruiser</option>
                <option value="Close Talker">Close Talker</option>
                <option value="Codependent">Codependent</option>
                <option value="Cry Baby">Cry Baby</option>
                <option value="Drama Queen">Drama Queen</option>
                <option value="Disappointment to Family">Disappointment to Family</option>
                <option value="Entitled">Entitled</option>
                <option value="Extroverted">Extroverted</option>
                <option value="Introverted">Introverted</option>
                <option value="Narcissist">Narcissist</option>
                <option value="Picky Eater">Picky Eater</option>
                <option value="Selfish">Selfish</option>
                <option value="Untrusting">Untrusting</option>
            </select>

            <footer>
                <button type="submit">Submit</button>

                <img class="title_image" src="/public/assets/images/zombie_button_top.jpg" alt="Zombie Baby Button" width="15%">

                <a href="/logOut">Wake Up from this Nightmare</a>
            </footer>
        </form>
    </div>



</body>
</html>