<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index.css"/>
    <title>Document</title>
</head>
<body>
    
    <h1>Zombie <%= offspring.name %> never tires from running!  Through tears, you look into their remaining <%= offspring.eye_color %> eye and raise your weapon...</h1>

    <img src="/public/assets/images/defend_01.jpg" alt="Drawing of scary but cute zombie giving chase" width="75%"><br>

    <!-- Clicking this link should run a function with math.random() to determine whether the zombie was hit or missed. Also, if zombie was hit, direct usesr to /undeadDead.ejs.  If zombie was missed, direct user to /updatedOffspring.ejs. -->
    <a href="/">Pull Trigger</a>

    <img class="title_image" src="/public/assets/images/zombie_button_top.jpg" alt="Zombie Baby Button" width="15%">

    <a href="/logOut">Wake Up from this Nightmare</a>


</body>
</html>