<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/edit.css" />
    <title>Sign Up</title>
</head>
<body>
    <header>
        <img class="title_image" src="/public/assets/images/logo.jpg" alt="Site Logo" width="25%">
    </header>

    <div>
        <h1>Sign Up to Have a Baby in the Zombie Apocalypse</h1>
    </div>
    <div id="signUp">
        <form class="flex-container" action="/books/" method="post">
            <label for="username">User Name:</label>
            <input type="text" name="username" required/>

            <label for="password">Password:</label>
            <input type="password" name="password" required/>

            <label for="location">location:</label>
            <input type="text" name="location" required/>

            <footer>
                <button type="submit">Submit</button>

                <a href="/">Cancel</a>
            </footer>
        </form>
    </div>

    <div>
        <p class="credit">gimme a break, it was a bootcamp.</p>
    </div>
</body>
</html>