<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index.css"/>
    <title>Document</title>
</head>
<body>
    
    <h1>You are devestated when your bullet hits its mark.  You collapse from the onset of insanity.  But don't be too sad.  Just have another baby in the zombie apocalypse!</h1>

    <img class="title_image" src="/public/assets/images/undead_dead.jpg" alt="Site Logo" width="75%"><br>

    <a href="/index">Have another Baby in the Zombie Apocalypse</a>

    <img class="title_image" src="/public/assets/images/zombie_button_top.jpg" alt="Zombie Baby Button" width="15%">

    <a href="/logOut">Wake Up from this Nightmare</a>

    <p>Feeling angry at the world for losing your family to zombies? <a href="/killZombies">Kill Some Zombies!</a></p>


</body>
</html>