<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/index.css"/>
    <title>Time Flies</title>
</head>
<body>
    <header>
        <!-- <img class="title_image" src="/public/assets/images/logo.jpg" alt="Site Logo" width="25%"> -->
    </header>

    <div>
        <h1>Congratulations, you have a baby named <%= offspring.name %>!  Cherish this time because the years in the zombie apocalypse fly by.</h1>
    </div>

    <div>
        <img src="/public/assets/images/new_baby.jpg" alt="Cute drawing of baby" width="75%">
    </div>

    <div id="book-shelf">
        <form class="flex-container" action="/books/<%= book._id %>?_method=PUT" method="post">

            <label for="age">How many years fly by?</label>
            <select name="age" type="number">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            
            <footer>

                <button class="nav" type="submit">Submit</button>

                <img class="title_image" src="/public/assets/images/zombie_button_top.jpg" alt="Zombie Baby Button" width="15%">

                <a href="/logOut">Wake Up from this Nightmare</a>
            </footer>
        </form>
    </div>

    <div>
        <p class="credit">A Site by 8712CE</p>
    </div>
</body>
</html>
