<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>You missed, yet you feel releif!  <%= offspring.name %> grabs you, but you're able to free yourself and continue running.  But we all know you're not going to be able to run for much longer.  Meanwhile, your snarling, snapping, undead offspring is losing no steam.</h1>

    <img src="zombie_chase.jpg" alt="The kid's still giving chase">

    <a href="/">Pull Trigger</a>

    <a href="/logOut">Wake Up from this Nightmare</a>


</body>
</html>