.body {
    text-align: center;
    padding: 1em 2em;
}

.main_text {
    margin: 0em 2em 1em 2em;
    font-weight: 900;
    font-size: 200%;
}

.drawing {
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    margin-top: 2em;
    width: 75%;
}