.body {
    text-align: center;
    padding: 1em 2em;
}

.main_text {
    font-weight: 900;
    font-size: 200%;
    text-align: center;
}

.drawing {
    margin-top: 1em;
    margin-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}